@import './_colors.scss';
@import './_fonts.scss';

div.error {
	display: flex;
	align-items: center;
	color: red;
	font-size: small;
	* {
		margin: 0 2px;
	}
}

div.link {
	text-align: center;
	color: $primary-color;
	transition: transform 0.5s;
}
div.link:hover {
	transform: scale(2.5);
	color: orange;
}

@media (min-width: 1024px) {
	div.main-content {
		display: flex;
		justify-content: space-evenly;
	}
}

div.title {
	display: flex;
	color: white;
	background: $primary-color;
	background: linear-gradient(
		90deg,
		$primary-color 0%,
		$primary-light-color 100%
	);
	font-family: 'Noto Sans';
	border-bottom: 2px solid $primary-light-color;
	padding: 1vh 5vw;
	h3 {
		margin-left: 2vw;
	}
}

div.warning {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: orange;
	font-size: small;
	font-family: 'Noto Sans';
	* {
		margin: 0 2px;
	}
}

h4 {
	color: $primary-color;
	margin-bottom: 1vh;
}

a:link {
	text-decoration: none;
}
