div.title {
	display: flex;
	color: white;
	background: rgb(31, 165, 215);
	background: linear-gradient(
		90deg,
		rgba(31, 165, 215, 1) 0%,
		rgba(240, 247, 252, 1) 100%
	);
	font-family: 'Noto Sans';
	border-bottom: 2px solid #f0f7fc;
	padding: 1vh 5vw;
}

div.title h3 {
	margin-left: 2vw;
}

h4 {
	color: #1fa5d7;
	margin-bottom: 1vh;
}

div.warning {
	display: flex;
	justify-content: center;
	align-items: center;
	color: orange;
	font-size: small;
	font-family: 'Noto Sans';
}

div.warning *,
div.error * {
	margin: 0 2px;
}

div.error {
	display: flex;
	align-items: center;
	color: red;
	font-size: small;
}

div.link {
	text-align: center;
	color: #1fa5d7;
	transition: transform 0.5s;
}

div.link:hover {
	transform: scale(2.5);
	color: orange;
}
