div#client-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2vh 5vw;
	margin: 3vh 15vw;
	background-color: rgba(31, 165, 215, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
	box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
}

div#client-details h4 {
	color: #1fa5d7;
	margin-bottom: 1vh;
}

div#client-details .MuiTextField-root label {
	color: #1fa5d7;
}

div#client-details .MuiTextField-root input {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #163e5c;
}

div#client-details form {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

div#client-details input[type='submit'] {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #1fa5d7;
	font-size: x-small;
	border: none;
	background-color: white;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #1fa5d7;
	margin-left: 10px;
}

div#client-details input[type='submit']:hover {
	background-color: #1fa5d7;
	border: 1px solid white;
	color: white;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
	box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
}

div#client-details .MuiTextField-root .MuiInput-underline::before,
div#client-details .MuiTextField-root .MuiInput-underline::after {
	border-bottom-color: #1fa5d7;
}

div#client-details ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
}

div#client-details ul li {
	margin-top: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div#client-details #elec-heating {
	display: flex;
	font-size: small;
	flex-direction: row;
	align-items: center;
	color: #1fa5d7;
}
div#client-details #elec-heating svg {
	color: yellow;
}
