/* CONTAINERS */
@media (min-width: 1024px) {
	div#client-list {
		margin: 5vh 0;
		width: 60%;
		justify-content: left;
	}
}

/* TABLE CONTAINERS */
div#client-list div.MuiPaper-root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div#client-list div.MuiPaper-elevation1 {
	box-shadow: none;
}

/* TABLE ELEMENTS */
div#client-list table {
	width: 95%;
}
div#client-list table thead {
	background-color: #1fa5d7b3;
}
div#client-list table th {
	color: white;
}
div#client-list table td {
	color: gray;
}
