div#SearchClient {
	display: flex;
	justify-content: center;
	padding: 3vh 0;
	margin: 5vh 15vw;
	background-color: rgba(31, 165, 215, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
	box-shadow: 0px 0px 3px 0px rgba(31, 165, 215, 0.75);
}

div#SearchClient .MuiTextField-root label {
	color: #1fa5d7;
}

div#SearchClient .MuiTextField-root input {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #163e5c;
}

div#SearchClient .MuiTextField-root .MuiInput-underline::before,
div#SearchClient .MuiTextField-root .MuiInput-underline::after {
	border-bottom-color: #1fa5d7;
}
